---
layout: page
title: "About"
description: " My College Time "
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>去生活，去犯错，去跌倒，去胜利<br>
    去用生命再创生命</p></blockquote>

    <p>Hey，我是<strong>陈扬</strong>，一名走在理想路上的"牧羊少年"。偶像是<a href="http://baike.baidu.com/item/%E5%B0%BC%E5%8F%A4%E6%8B%89%C2%B7%E7%89%B9%E6%96%AF%E6%8B%89/4481228">尼古拉.特斯拉</a>，希望能成为像他那样的发明家，时代的开创者</p> 
	<p>工作3年，逐渐开始明白<strong>生命</strong>和<strong>时间</strong>的意义，明白一个人在宇宙中的<strong>渺小</strong>和<strong>独特</strong></p>
    <p>坚信<strong>科技改变世界</strong>,关注科技发展，关注时代变化</p>
    
	<h5>Cornerstone</h5>

    <ul>
    <li><a href="https://www.bilibili.com/video/av5140831/?from=search&seid=17615017513851008348">超乎想象的宇宙---量子力学</a></li>
    <li><a href="https://www.bilibili.com/video/av1245141/?from=search&seid=7840160912712515927">明天有多远——距离及狭义相对论</a> · <a href="https://www.bilibili.com/video/av6936793/?from=search&seid=7840160912712515927">广义相对论的世界观＆证明/引力波是如何被测量的</a></li>
    <li><a href="https://www.bilibili.com/video/av521643/?from=search&seid=68037680206567136">神秘的混沌理论</a> </li>
    </ul>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Yet another Web Developer. <br>
    Yet another Life-long Designer.</p></blockquote>

    <p>Hi, I am <strong>Chen Yang</strong>，you can call me <strong>Yang</strong>. I'm a "shepherd boy" who is run for dream; my idol is  Nicholas Tesla who invent Alternating current. I hope to be an inventor like him,the pioneer of the times.</p>
    <p>Working for three years,I gradually understand the meaning of time and life,and how insignificant a man is but special in the universe.</p>
    <p>I believe that technology will change the world,and pay attention to the development of the technology and the times.</p>

    <h5>Cornerstone</h5>

   <ul>
    <li><a href="https://www.bilibili.com/video/av5140831/?from=search&seid=17615017513851008348">超乎想象的宇宙---量子力学</a></li>
    <li><a href="https://www.bilibili.com/video/av1245141/?from=search&seid=7840160912712515927">明天有多远——距离及狭义相对论</a> · <a href="https://www.bilibili.com/video/av6936793/?from=search&seid=7840160912712515927">广义相对论的世界观＆证明/引力波是如何被测量的</a></li>
    <li><a href="https://www.bilibili.com/video/av521643/?from=search&seid=68037680206567136">神秘的混沌理论</a> </li>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <!-- This id is used for indexing my loss comments forcedly -->
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
    <!-- U can just use this key generated to index comments at page about -->
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
